<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/departmentCss/add_dept.css">
</head>


<body>
    <% layout('boilerplate') -%>

        <form class="options" action="/department" method="post" enctype="multipart/form-data">

            <div class="input_heading_div">
                <label class="heading sub-heading">ADD Department</label>
                <input type="text" name="Department_name" id="deptname" class="listinputs inputs"
                    placeholder="Enter the Department Name.....!">
                <error class="errormsg"></error>
                <button class="donebutton course_btns" type="button" onclick="submit_form()">Submit</button>
            </div>

            <div class="file_uploader_and_heading">
                <label class="heading sub-heading" style="text-align: center;">Upload Course Curriculum</label>
                <div class="input-div">
                    <input class="input file" name="curriculum" type="file" onchange="fileSelected(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round"
                        stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"
                        class="icon">
                        <polyline points="16 16 12 12 8 16"></polyline>
                        <line y2="21" x2="12" y1="12" x1="12"></line>
                        <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
                        <polyline points="16 16 12 12 8 16"></polyline>
                    </svg>
                </div>
                <label class="sub-heading" id="filename" style="text-align: center;"></label>
            </div>



        </form>
<script src="/JS/deptJS/add_dept.js"></script>
</body>

</html>