<link rel="stylesheet" href="/CSS/includesCss/alert.css">

<% if(success && success.length>0) { %>
    <div class="each_alert check">
        <i class="far fa-check-circle color"></i> &nbsp; &nbsp;
        <span>
            <%= success %>
        </span>
        <img src="../../images/cancel.png" class="removeAlert" onclick="removeAlert(this)">
    </div>

    <% } %>

        <% if(error && error.length>0) { %>
            <div class="each_alert danger">
                <i class="far fa-times-circle shine"></i>
                &nbsp; &nbsp;
                <span>
                    <%= error %>
                </span>
                <img src="../../images/cancel.png" class="removeAlert" onclick="removeAlert(this)">
            </div>
            <% } %>

                <script>
                    function removeAlert(ele) {
                        ele.parentNode.remove()
                    }
                </script>