<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/searchform.css">
    <style>
         .image {
            width: 80%;
            margin: auto;
            height: 400px;
        }

        .image img {
            width: 100%;
            height: 100%;
            object-fit: none;
        }
    </style>
</head>
<body>
    <% layout("boilerplate") -%>
    <h4 class="manage_heading">Filter By Class </h4>
    <form action="/class/manage" class="options">
        <select name="class" id="selectboxes_Options" class="search_inputs">
            <option>All</option>
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
            <option>Four</option>
            <option>Five</option>
            <option>Six</option>
            <option>Seven</option>
            <option>Eight</option>
            <option>Nine</option>
            <option>Matrix</option>
            <option>Intermediate-I</option>
            <option>Intermediate-II</option>
        </select>
        <select name="section" class="search_inputs">
            <option>All</option>
            <option>A</option>
            <option>B</option>
        </select>
        <input type="text" name="teachername" placeholder="search by class Teacher" class="search_inputs">
        <button class="search-btn">Search</button>
    </form>
    <div class="image">
        <img src="../../images/filterimagerm.png" alt="filter">
    </div>


    
</body>
</html>