<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/studentCss/addstudent.css">
    <title>Document</title>
</head>
<body>
    <% layout('boilerplate') -%>
    <div class="content">
        <span id="purpose" style="visibility: hidden;">teacher</span>
        <h6 class="Info_message_popup"></h6>
        <div class="text">
            <h1>Teacher Information</h1>
            <img src="../../images/teacherlogo1.png" alt="teacher">
           
        </div>
        <form action="/teacher" method="post" class="registerForm">
            <div class="field  flex_property">
                <h4 class="lbl">Name</h4>
                <input type="text" class="controls" name="username">
                <label class="error-label"></label>

            </div>

            <div class="field flex_property">
                <h4 class="lbl">Father Name</h4>
                <input type="text" class="controls" name="father_name">
                <label class="error-label"></label>

            </div>

            <div class="field flex_property">
                <h4 class="lbl">Cnic</h4>
                <input type="number" class="controls no-spinners" name="cnic"  id="cnic">
                <label class="error-label"></label>

            </div>

            <div class="field flex_property">
                <h4 class="lbl">Phone</h4>
                <input type="number" class="controls no-spinners" name="phone">
                <label class="error-label"></label>

            </div>

            <div class="field flex_property">
                <h4 class="lbl">Age</h4>
                <input type="number" class="controls no-spinners" name="age" min="18" max="65">
                <label class="error-label"></label>

            </div>

            <div class="field flex_property">
                <h4 class="lbl">Set Password</h4>
                <input type="password" class="controls" name="password">
                <label class="error-label"></label>

            </div>

            <div class="selectboxes field flex_property">
                <h4 class="lbl">Gender</h4>
                <select name="gender" id="roleOptions" class="controls">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Custom</option>
                </select>
                <label class="error-label"></label>
            </div>



             <div class="selectboxes field flex_property">
                <h4 class="lbl">Qualification</h4>
                <select name="post" class="controls">
                    <option>Lecturer</option>
                    <option>Assistant Professor</option>
                    <option>Associate Professor</option>
                    <option>Professor</option>
                </select>
                <label class="error-label"></label>
            </div>

            <div class="selectboxes field flex_property">
                <h4 class="lbl">Qualification</h4>
                <select name="qualification" class="controls">
                    <option>Bachelor</option>
                    <option>Master</option>
                    <option>PHD</option>
                </select>
                <label class="error-label"></label>
            </div>

           
            <button onclick="validateForm()" type="button" class="btns registerbtn">Add</button>

        </form>
    </div>
    <script>
       
   </script>
          <!-- <script src="../../JS/preservedData.js"></script> -->
    <script src="/JS/AddForm.js"></script>
</body>
</html>