@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--textcolor);
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text h1 {
  font-size: 33px;
  font-weight: 600;
  margin: 25px 0px;
  margin-bottom: 10px;
  color: var(--sidebutton-color);
}

.text img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}
.field{
  
  width: 100%;
  display: flex;
  position: relative;
  margin: 10px 10px;
}
.selectboxes{
    flex-direction: column;
    justify-content: center;
  
}

.field input{
  
height: 40px;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: transparent;
  color: var(--sidebutton-color);
  border-radius: 25px;
  box-shadow: var(--forminputShadow)


  /* box-shadow: inset 2px 2px 3px #4f4f4f, inset -5px -5px 10px #50454573; */
}
.field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
/* .field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
} */

.btns{
  background: #3498db;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 5px #606060, -5px -2px 10px #ffffff73;
  /* box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73; */
  /* box-shadow: var(--forminputShadow) */
 
}
.registerbtn{
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600; 
   
}
.btns:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.content {
  margin: auto;
  width: 70%;
  padding: 0px 30px;
  background: var(--bg-color);
  box-shadow: var(--box-shadow-color);
  border-radius: 4px;
}


.flex_property{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 60px; */
}

.registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.selectboxes>select {
  outline: none;
  border: none;
  font-size: 18px;
  background: transparent;
  /* color: #595959; */
  color: var(--sidebutton-color);
  border-radius: 25px;
  box-shadow: var(--forminputShadow);
  /* box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73; */
  padding: 0px 30px;;
  height: 50px;
 

}
select>option{
  color: black;
}

.lbl {
 
  text-align: start;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  /* color: #595959;; */
  color: var(--sidebutton-color);
  margin-left: 5px;
}

.field:nth-child(1),
.field:nth-child(4),
.field:nth-child(9)
.field:nth-child(10){
    grid-column: 1/3;
}
.error-label{
  color: rgba(255, 0, 0, 0.562);
  font-size: 14px;
  text-align: left;

}

.Info_message_popup{
            text-align: center;
            color: rgb(199, 16, 16);
            font-size: 18px;
            margin-top: 20px;
}

@media screen and (max-width:1150px) {
  .registerForm{
    display: flex;
    flex-direction: column;
    
  }
  .content{
      width:90%;
  }
}
