.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-color);
    overflow: hidden;
    width: 80%;
    margin-bottom: 20px;
}

/* Profile Section */
/* .profile-section {
    background: linear-gradient(to right, #ee5a6f, #f29263);
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
} */
.profile-details {
    text-align: center;
}

.profile-img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
    height: 100%;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.designation {
    margin: 0.5rem 0;
}

.icon-edit {
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
}

/* Info Section */
.info-section {
    padding: 1.5rem;
    width: 100%;
}

.info h6,
.projects h6 {
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info-row div {
    flex: 1;
    margin-right: 1rem;
}

.info-row div:last-child {
    margin-right: 0;
}

.info-row p {
    font-size: 14px;
    margin: 0;
    color: var(--sidebutton-color);
    font-weight: bold;
}

.info h6 {

    color: var(--tableColor);
}

.info-row h6 {
    font-size: 14px;
    margin: 0.5rem 0 0;
}

.Info_message_popup {
    text-align: center;
    color: rgb(199, 16, 16);
    font-size: 18px;
    margin-top: 20px;
}

/* */
.inputs {
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 0px rgb(189, 192, 189);
    background: transparent;
    border: 1px solid rgb(207, 193, 193);
    outline: none;
    color: var(--sidebutton-color);
}

.headerSection {
    display: flex;
    align-items: center;
    margin: 30px;
    margin-bottom: 10px;
}

.h1 {
    margin-left: 50px;
    /* text-shadow: 1px 16px 9px rgb(53, 49, 49); */
    font-size: 35px;
    color: var(--tableColor)
}

.submit {
    background-color: var(--tableColor);
    padding: 10px;
    border: 0px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #fd7066;
}

.tagname {
    font-size: 22px;
    font-weight: bold;
    color: var(--tableColor);
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

.error-label {
    font-size: 13px;
    color: rgb(252, 69, 69);
}

.profile-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.profile-section .img {

    height: 150px;
    margin-top: 1.6em;
    aspect-ratio: 1;
    border-radius: 49%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: var(--profileIconShadow)
}

select>option {
    color: black;
}

.subheading {
    font-size: 14px;
    color: var(--sidebutton-color);
}

.section_name {
    font-size: 12px;
}

@media screen and (max-width:950px) {
    .headerSection {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:600px) {
    .info-row {

        flex-direction: column;
    }

    .inputs {
        width: 100%;
    }

    .info-row div:last-child {
        margin-right: 1rem;
    }
    .subheading{
        text-align: center;
    }
}