<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <style>
        /* Responsive CSS */
        @media screen and (max-width:1080px) {
            .imageAnd_intro{
                flex-direction: column-reverse;
            }
            .image{
                width: 90%;
            }
            .intro_uni{
                width: 80%;
                align-items: center;
            }
            .statistic{
                flex-direction: column;
                align-items: center;
            }
            .statistic>div{
                width: 85%;
            }
            
        }

    </style>
</head>

<body>
    <% layout('boilerplate') -%>
        <div class="box theme">
            <div class="statistic">

                <div class="social-1">

                    <div class="social-1__row-1">
                        <div class="option__icon">
                            <img src="/images/studentslogorm.png" alt="" class="dashboard_header_box_logos">
                        </div>
                        <p>Students</p>
                    </div>

                    <div class="social-1__row-2">
                        <h1 class="heading-1"><%= no_of_students %></h1>
                    </div>
                </div>

                <div class="social-2">

                    <div class="social-2__row-1">
                        <div class="option__icon">
                            <img src="/images/teacherlogorm.png" alt="" class="dashboard_header_box_logos">
                        </div>
                        <p>Teachers</p>
                    </div>

                    <div class="social-2__row-2">
                        <h1 class="heading-1"><%= no_of_teachers %></h1>
                    </div>
                </div>


              <!-- <div class="social-4">

                    <div class="social-4__row-1">
                        <div class="option__icon">
                            <img src="/images/rupeesrm.png" alt="" class="dashboard_header_box_logos">
                        </div>
                        <p>Departments</p>
                    </div>

                    <div class="social-4__row-2">
                        <h1 class="heading-1"><%= no_of_departments %></h1>
                    </div>



                </div> -->

                <div class="social-5">

                    <div class="social-5__row-1">
                        <div class="option__icon">
                            <img src="/images/departmentPic1.png" alt="" class="dashboard_header_box_logos">
                        </div>
                        <p>Departments</p>
                    </div>

                    <div class="social-5__row-2">
                        <h1 class="heading-1"><%= no_of_departments %></h1>
                    </div>


                </div>


            </div>

        </div>
        <section class="introSection">
            <div class="imageAnd_intro">
                <div class="intro_uni">
                    <h1>Quaid-e-Awam univeristy of Engineering Science and Technology</h1>
                    <p>Quaid-e-Awam University of Engineering, Science & Technology (QUEST), Nawabshah, spans over 457
                        acres and is home to state-of-the-art academic and research facilities. The campus is divided
                        into multiple academic sectors, including dedicated blocks for engineering, science, IT, and
                        management disciplines. </p>
                    <span>✉info@quest.edu.pk</span>
                    <span>📞+92 244 9370367</span>
                </div>
                <div class="image">
                    <img src="/images/questimage.webp" alt="">
                </div>
            </div>
        </section>
     
</body>

</html>