.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
}

.inner_ul {
    width: 80%;
    align-self: flex-end;
    display: none;
}


.ul>li>img {
    width: 15px;
    height: 8px;
    position: absolute;
    right: 10%;
    top: 40%;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: center;
    padding: 10px 12px;
    box-shadow: var( --sidebutton-boxshadow);
    transition: all 0.3s ease;
    width: 90%;
    margin: 15px 0px;
    position: relative;
    list-style: none;
    align-self: flex-end;
    cursor: pointer;

}

.inner_ul>li {
    list-style: disc;
}
.inner_ul>li>a{
    font-size: 15px;
}
.inner_ul>li:nth-child(1){
    margin-top: 0px;
}


li>a {
    text-decoration: none;
    color: var(--sidebutton-color);
    font-weight: 400;
    font-size: 18px;
}

/* .ul a:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
        inset 3px 3px 5px #ceced1;
} */
.ul>li:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow:var(--sidebuttonHover-shadow);
    
}
.ul>li{
    font-size: 18px;
    color: var(--sidebutton-color);
}

li>a:hover {
    color: #3498db;
}